os: linux
dist: focal
group: dev

jobs:
  include:
  - language: cpp
    compiler: clang
    script:
      - g++ -nostartfiles main.cpp

  - language: node_js
    node_js:
      - node
    script:
      - node hello.js
